name: Elixir CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  mix_test:
    name: mix test (Elixir ${{matrix.elixir}} | OTP ${{matrix.otp}})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.12.x
            otp: 23.3.4
          - elixir: 1.13.x
            otp: 24
          - elixir: 1.14.x
            otp: 25.1
            warnings_as_errors: true
            check_formatted: true
    env:
      MIX_ENV: test
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Install Dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get --only test
      - run: mix format --check-formatted
        if: matrix.check_formatted
      - run: mix compile --warnings-as-errors
        if: matrix.warnings_as_errors
      - run: mix test
